

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }

      th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #04AA6D;
        color: white;
      }

    body{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: aqua;
        text-align: center; 
    }
    a{
        text-decoration:solid;
        color:coral;
        background-color:cornsilk;
        padding: 12px;
        border-radius: 25px; 
    }
    
    div{
         margin-bottom: 10px;
    }
    img{

        display:inline;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        width: 30%;
        border-radius: 16px;
        padding: 5px;
     }
    
     figure caption{
         text-decoration: solid;
         color:deeppink;
         font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

     }
     h1{
         text-decoration: none;
         color: darkorchid;
         font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
         
     }

     h3{
         text-decoration: wavy;
         color: fuchsia;
         font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     }
    
    